<!---->
<ng-include src="'modules/admin/assets/nav.html'"></ng-include>
<!---->
<ng-include src="'modules/admin/assets/sidebar.html'"></ng-include>
<!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    
    <ng-include src="'modules/admin/assets/breadcrumb.html'"></ng-include>
    <!--/.row-->

    <!--<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
    </div>-->
    <!--/.row-->

   <!--<ng-include src="'modules/admin/assets/estadisticas.html'"></ng-include>-->
    <!--mensajes contacto-->
    <div class="col-md-12">
         <email-marketing  data="contactos"></email-marketing>

    </div>


  





    <!--next class-->
    <!--<div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Proximas Clases</div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre Alumno</th>
                                <th>Direccion Alumno</th>
                                <th>Nombre Tutor</th>
                                <th>Telefono Tutor</th>
                                <th>horario</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
                <div class="panel-footer">

                </div>
            </div>

        </div>
       
    </div>-->



    
</div>
<!--/.main-->