<div class="row">
    <ol class="breadcrumb">
        <li>
            <a>
                <span ng-if="active.alumnos" class="glyphicon glyphicon-{{admin.iconAlumnos}}" aria-hidden="true"></span>
                <span ng-if="active.apoderados" class="glyphicon glyphicon-{{admin.iconApoderados}}" aria-hidden="true"></span>
                <span ng-if="active.materias" class="glyphicon glyphicon-{{admin.iconMaterias}}" aria-hidden="true"></span>
                <span ng-if="active.tutores" class="glyphicon glyphicon-{{admin.iconTutores}}" aria-hidden="true"></span>
                <span ng-if="active.admin" class="glyphicon glyphicon-{{admin.iconAdmin}}" aria-hidden="true"></span>
                <span ng-if="active.dashboard" class="glyphicon glyphicon-{{admin.iconDashboard}}" aria-hidden="true"></span>
            </a>
        </li>
        <li class="active">{{admin.location()}}</li>
    </ol>
</div>